* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .8s ease;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #fff;
  }
  
  .item {
    display: grid;
    align-content: center;
    place-items: center;
    gap: 2rem;
    width: 90vw;
    height: 90vh;
    background: #efefef;
    border-radius: 20px;
  }
  
  .timer-wrapper {
    display: grid;
    gap: 0.8em;
    place-items: center;
    align-items: center;
    color: lightslategray;
    font-size: 1rem;
    background: #fff;
    padding: 40px 50px;
    border-radius: 100%;
    border: 5px solid rgb(5, 192, 45);
  }
  
  .timer-wrapper #timer {
    color: #000;
    font-size: 1.5rem;
  }
  
  .controls button {
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
  }
  
  .controls button#startBtn {
    background: rgba(0,255,0, 20%);
    color: green;
  }
  
  .controls button#stopBtn {
    background: rgba(255,0,0, 20%);
    color: red;
  }
  
  .controls button#resetBtn {
    background: rgba(0,0,0, 20%);
    color: black;
  }